@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/*for the Graph*/
/*@chart-width: 650px;
@chart-height: 300px;

@grid-color: #aaa;
@bar-color: #F16335;
@bar-thickness: 50px;
@bar-rounded: 3px;
@bar-spacing: 30px;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, /*#C7C5F4,*/ #EEDED3, /**/ /*#776BCC,*/ #F88943 /*, #D36011*/ );
    font-family: Arial, sans-serif;
    margin: 20px;
}

#chartContainer {
    height: 300px;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    /*min-height: 40vh;*/
}
/*Styling Login*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.screen {
    background: linear-gradient(90deg, #0C0500, #FF7E33);
    margin: 0;
    top: 50px;
    position: relative;
    height: 500px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    /*background: #FF7E33;*/
    /*background: #FFF;*/
    /*background: linear-gradient(270deg, #5D54A4, #6A679E, #EEDED3, #F88943);*/
    background: linear-gradient(90deg, #0C0500, #FF7E33);
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: /*#6C63AC*/ #0C0500;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 560px;
    width: 190px;
    /*background: linear-gradient(90deg, #0C0500, #FF7E33);*/
    background: linear-gradient(270deg, #5D54A4, #6A679E, #EEDED3, #F88943);
    /* background: #fff;*/
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: /*#7E7BB9*/ #0C0500;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

/*forgot password*/
.forgot password__field {
    /*right: -50%;*/
    text-align: center;
    align-content: center;
    width: 100%;
    box-shadow: 0px 2px 2px #5C5696;
}

.forgot password__field, a {
    text-decoration: none;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
        outline: none;
        border-bottom-color: #6A679E;
    }

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

    .login__submit:active,
    .login__submit:focus,
    .login__submit:hover {
        border-color: #6A679E;
        outline: none;
    }

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

/*.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}

    .social-login__icon:hover {
        transform: scale(1.5);
    }*/

/* Styling Register */

.signup__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup__screen {
    background: linear-gradient(90deg, #0C0500, #FF7E33);
    margin: 0;
    top: 30px;
    position: relative;
    height: 580px;
    width: 380px;
    box-shadow: 0px 0px 24px #5C5696;
}

.signup__content {
    /*z-index: 1;*/
    position: relative;
    /*height: 100%;*/
}

.signup {
    padding-top: 100px;
    width: 350px;
    padding: 30px;
    /*padding-top: 156px;*/
    height: 450px;
}

.signup__field {
    padding: 20px 0px;
    position: relative;
}

.signup__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.signup__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

    .signup__input:active,
    .signup__input:focus,
    .signup__input:hover {
        outline: none;
        border-bottom-color: #6A679E;
    }

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape5 {
    height: 600px;
    width: 400px;
    /*    background: #FF7E33;
*/ background: #FFF;
    top: -25px;
    right: 200px;
    border-radius: 0 70px 0 0;
}

.screen__background__shape6 {
    height: 220px;
    width: 220px;
    background: /*#6C63AC*/ #0C0500;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape7 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape8 {
    height: 400px;
    width: 200px;
    background: /*#7E7BB9*/ #0C0500;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}


/*Dashboard Sidebar*/
.wrapper {
    width: 100%;
    height: 100%;
    padding-left: 200px;
    transition-duration: 0.5s;
}

    .wrapper .sidebar {
        width: 200px;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: #333;
        white-space: nowrap;
        transition-duration: 0.5s;
        z-index: 1000;
    }

        .wrapper .sidebar .sb-item-list {
            width: 100%;
            height: calc(100% - 50px);
        }

            .wrapper .sidebar .sb-item-list > .sb-item > .sb-text {
                position: absolute;
                transition-duration: 0.5s;
                text-decoration: none;
            }

        .wrapper .sidebar .sb-item {
            display: block;
            width: 100%;
            line-height: 50px;
            color: #ccc;
            background: #333;
            cursor: pointer;
            padding-left: 7px;
        }

            .wrapper .sidebar .sb-item.active {
                border-left: solid 3px green;
                box-sizing: border-box;
            }

                .wrapper .sidebar .sb-item.active > .sb-icon {
                    margin-left: -3px;
                }

        .wrapper .sidebar .sb-icon {
            padding-left: 10px;
            padding-right: 20px;
        }

        .wrapper .sidebar .sb-item:hover,
        .wrapper .sidebar .sb-item.active {
            filter: brightness(130%);
        }

    .wrapper .sb-menu {
        position: relative;
    }

        .wrapper .sb-menu:after {
            content: " ";
            width: 0;
            height: 0;
            display: block;
            float: right;
            margin-top: 19px;
            margin-left: -12px;
            margin-right: 5px;
            border: solid 5px transparent;
            border-left-color: #eee;
        }

        .wrapper .sb-menu > .sb-submenu {
            display: none;
        }

        .wrapper .sb-menu:hover > .sb-submenu {
            position: absolute;
            display: block;
            width: 200px;
            top: 0;
            left: calc(100% + 1px);
        }

    .wrapper .sb-submenu > .sb-item:first-child {
        border-radius: 8px 8px 0px 0px;
    }

    .wrapper .sb-submenu > .sb-item:last-child {
        border-radius: 0px 0px 8px 8px;
    }

    .wrapper .btn-toggle-sidebar {
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 1px solid #aaa;
        user-select: none;
    }

        .wrapper .btn-toggle-sidebar .sb-icon {
            padding-left: 15px;
        }

            .wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
                display: inline-block;
            }

            .wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
                display: none;
            }

    .wrapper.sidebar-collapse {
        padding-left: 60px;
    }

        .wrapper.sidebar-collapse .sidebar {
            width: 60px;
        }

        .wrapper.sidebar-collapse .sb-item-list > .sb-item > .sb-text {
            position: absolute;
            transform: translateX(-200%);
            opacity: 0;
        }

        .wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
            display: none;
        }

        .wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
            display: inline-block;
        }
.a{
    text-decoration: none;
}
/*Adding Dashboard Content*/
.dashboard__content {
    width: 100%;
    align-content: center;
    text-align: center;
    top: -50%;
    /*padding-left: -1500px;*/
}
/*.graph__content{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}*/
.graph__container {
}

/*Styling The ViewEmployee*/
.table__content{
    align-content: center;
    text-align: center;
    justify-content: center;
}

/*Create Employee Dashboard Content*/

.dashboard__content {
    background: linear-gradient(270deg, #5D54A4, #6A679E, #EEDED3, #F88943);
    margin-top: 80px;
    width: 550px;
}

.container mt-5 {
    align-content: center;
    align-items: center;
    border: 10px solid #494646;
    flex-direction: column;
}

/*.form-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}*/

.form-group {
    margin-right: 20px;
    
}

.form-actions {
    margin-top: 20px;
}
/*Employe Buttons*/




